*.cmd
*.mod
*.mod.c
*.order
*.o
*.ko
Module.symvers
debug/
build/
generated/
*.swp

.vscode/*
golden
*.pdf
CMakeFiles/
shell_libs/include/units_headers/*

shell_libs/MEDIACONTROL/*
shell_libs/NATIVE/*
shell_libs/V4L2/*
#hal/proprietories/include/*
#hal/proprietories/lib/*

