*.cmd
*.mod
*.mod.c
*.order
*.o
*.ko
Module.symvers
debug/
build/
generated/
cmodel/build/
cmodel/debug/
cmodel/obj/
cmodel/generated/
*.swp
#fpga/fpga_drv/source/*.cmd
#fpga/fpga_drv/source/*.o
#fpga/fpga_drv/source/*.order
#fpga/fpga_drv/source/.tmp_versions
#fpga/fpga_drv/source/Module.symvers
#fpga/fpga_drv/source/dmadriver.ko
#fpga/fpga_drv/source/dmadriver.mod.*

test/golden/engine/*
.vscode/*
golden
#*.pdf
CMakeFiles/


#aaa/proprietories/include/
#aaa/proprietories/lib/
#bufferpool/proprietories/include/
#bufferpool/proprietories/lib/
#cam_device/proprietories/include/
#cam_device/proprietories/lib/
#cam_engine/proprietories/include/
#cam_engine/proprietories/lib/
#cameric_drv/proprietories/include/
#cameric_drv/proprietories/lib/
#hal/proprietories/include/
#hal/proprietories/lib/
#som_ctrl/proprietories/include/
#som_ctrl/proprietories/lib/

